extends layout

block content
  .row.page-header
    .col-lg-12
      h1 О нас
      hr
  .row
      .col-xs-12.col-sm-12
        p Скоро здесь появится текст. Посетите нас, пожалуйста, немного позже!
