extends layout

block content
  #banner.page-header
    .row
      .col-lg-6
        h1 Поисковик Wi-Fi
          small &nbsp; Найти места для работы с Wi-Fi рядом с Вами!
  .row
    .col-xs-12.col-sm-8
      p Список мест
    .col-xs-12.col-sm-4
      p.lead Веб-приложение "Поисковик Wi-Fi" поможет найти подходящие места для работы.

  .row.list-group.col-sm-8
    .col-xs-12.list-group-item
      h4
        a(href='/location') Starbucks
        small &nbsp;
        span.badge.pull-right.badge-default 130m
      p.address Казань, ул. Петербургская, д. 1
      p
        span.label.label-warning Hot drinks
        | &nbsp;
        span.label.label-warning Food
        | &nbsp;
        span.label.label-warning Premium wifi
        | &nbsp;
    .col-xs-12.list-group-item

    h4
      a(href='/location') Coffee Like
      small &nbsp;
      span.badge.pull-right.badge-default 100m
    p.address Казань, ул. Пушкина, д. 15
    p
      span.label.label-warning Hot drinks
      | &nbsp;
      span.label.label-warning Food
      | &nbsp;
      span.label.label-warning Premium wifi
      | &nbsp;
    .col-xs-12.list-group-item

    h4
      a(href='/location') Кафетериус
      small &nbsp;
      span.badge.pull-right.badge-default 150m
    p.address Казань, ул. Петербургская, д. 59
    p
      span.label.label-warning Hot drinks
      | &nbsp;
      span.label.label-warning Food
      | &nbsp;
      span.label.label-warning Premium wifi
      | &nbsp;
    .col-xs-12.list-group-item

  .col-xs-12.col-sm-4
    p.lead
      | Веб-приложение "Поисковик Wi-Fi" поможет найти подходящие места для работы.
