extends layout

block content
  .row.page-header
    .col-lg-5
      h1=pageHeader.title
      hr
  .row
    .col-xs-12.col-sm-12
      form.form-horizontal(action='', method='post', role='form')
        .form-group.d-none
          label.col-xs-10.col-sm-12.text-left.control-label(for='date') Дата создания отзыва
          .col-xs-10.col-sm-12
            input#date.form-control(name='date', value=Date.now(), disabled)

        .form-group
          label.col-xs-10.col-sm-12.text-left.control-label(for='name') Ваши имя и фамилия
          .col-xs-10.col-sm-12
            input#name.form-control(name='name', placeholder='Например, Иван И.')

        .form-group
          label.col-xs-10.col-sm-12.text-left.control-label(for='rating') Ваша оценка
          .col-xs-10.col-sm-12
            select.form-control.input-sm(name='rating')
              option 5
              option 4
              option 3
              option 2
              option 1

        .form-group
          label.col-xs-10.col-sm-12.text-left.control-label(for='review') Ваш отзыв
          .col-xs-10.col-sm-12
            textarea#review.form-control(name='review', rows='5', placeholder='Опишите, пожалуйста, максимально ' +
            'подробно, что именно Вам понравилось / не понравилось в этом месте.')

        .col-xs-10.col-sm-12
          button.btn.btn-success.pull-right Добавить отзыв
