extends layout

include _includes/sharedHTMLfunctions

block content
  #banner.page-header.mb-3
    .row
      .col-lg-6.col-xl-4
        h1 !{pageHeader.title}
        hr
        p #{pageHeader.strapline}
  .row
    .col-xs-12.col-sm-8(ng-controller='locationListCtrl')
      .d-flex.justify-content-between.flex-wrap
        .search.d-flex.justify-content-md-center.mb-3.flex-shrink-0
          .left-block
            | Поиск по тексту:
          .right-block
            input.ml-2(type='text', name='filter', ng-model='textFilter')
        .sort.d-flex.justify-content-md-center.mb-3.flex-shrink-0
          .left-block
            button.btn.btn-warning(ng-click='sortBy("rating")') По рейтингу
            | &nbsp;
          .right-block
            button.btn.btn-warning(ng-click='sortBy("distance")') По расстоянию
      .row.list-group
        .col-xs-12.list-group-item.shadow-sm.mb-3(ng-repeat='location in locations | filter: textFilter| orderBy:propertyName:reverse')
          .d-flex.justify-content-between
            .data-title
              h4
                a(href='/location/{{location.path}}') {{location.name}}
                | &nbsp;
                small
                  span.badge.pull-right.badge-pill.badge-secondary {{location.distance}} м.
            .data-details
              .col-sm-12.mt-2
              small(rating-stars, rating='location.rating')
          p.address {{location.address}}
          span.badge.badge-pill.badge-info(ng-repeat='facility in location.facilities') {{facility}}
    .col-xs-12.col-sm-4
      p.lead=sidebar
